@import 'tailwindcss';
@import './drag-and-drop.css';
@import './colors.css';
@import './fonts.css';
@import './scrollbar.css';

button {
  @apply cursor-pointer;
}

body {
  background-color: #1f1f1f;
  font-family: Carlito;
  min-height: 100dvh;
}

.gutter:hover {
  cursor: col-resize;
}